<div>
  <input
    name="first_name"
    type="text"
    placeholder="First Name"
    id="first_name"
  />
  <input name="email" type="text" placeholder="E-Mail" id="email" />
  <button id="getcookie">getcookies</button>
  <button id="createCookies">Create cookie</button>
</div>