body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5d6063;
  background-color: #eaedf0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker-form-header {
  text-align: center;
  background-color: #173553;
  border: 1px solid #5995da;
  border-radius: 3px;

  width: 80%;
  margin: 20px 0;
  padding: 50px;
}

.speaker-form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.speaker-form {
  background-color: #173553;
  border: 1px solid #5995da;
  border-radius: 3px;
  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="password"],
.form-row input[type="email"] {
  background-color: #5f5f5f;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}

.form-row input {
  color: white;
}

.form-row input[type="text"]:invalid,
.form-row input[type="password"]:invalid,
.form-row input[type="email"]:invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none; /* Remove default red glow in Firefox */
}

.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #ffffff;
  background-color: #5995da;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76aeed;
}

.form-row button:active {
  /* background-color: #407fc7; */
  background-color: pink;
}

@media only screen and (min-width: 700px) {
  .speaker-form-header,
  .speaker-form {
    width: 600px;
  }
  .form-row {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
    margin-bottom: 20px;
  }
  .form-row input[type="text"],
      .form-row input[type='email'],
      .form-row input[type='password'],
    
      .form-row select,                 /* These */
      .form-row textarea {
    /* Selectors */
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
  .legacy-form-row {
    margin-bottom: 10px;
  }
  .legacy-form-row legend {
    width: 120px;
    text-align: right;
    padding-right: 20px;
  }
  .legacy-form-row legend {
    float: left;
  }
  .form-row .instructions {
    margin-left: 120px;
  }
  .form-row .checkbox-label {
    margin-left: 120px;
    width: auto;
  }
  .form-row button {
    margin-left: 120px;
  }
}
