<html>
  <head>
    <meta charset="utf-8" />
    <title>Aplicacion hecha con motores de plantilla</title>
    <link rel="stylesheet" href="/{{stylesheet}}.css">
  </head>
  <body>

    {{{body}}}

  </body>
</html>