<div>
  <div class="chat-container">
    <span>
      Ingrese su correo electronico y su nuevo password para reiniciarlo
    </span>

    <input type="text" placeholder="Username" name="username" id="username" />

    <input
      type="password"
      placeholder="Password"
      name="password"
      id="password"
    />
    <input
      type="password"
      placeholder="Confirm Password"
      name="repeatPassword"
      id="repeatPassword"
    />

    <button id="forgotPassword">Enviar</button>

  </div>

</div>